/* idk proper css soz*/
body {
  flex: auto;
  width: 250px;
}

.numWords {
  display: inline;
}

h3, p {
  float: left;
  padding-left: 3px;
  margin-top: auto;
}

.wrapper {
  clear: both;
}

#possibleLabel {
  width: 100%;
}

#possible {
  margin: 4px;
}