body {
  color: #538d4e;
  width: 300px;
  font-size: 16px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

#possible {
  padding: 0px 10px 10px 10px;
  font-size: 22px;
}