body {
  width: 300px;
  font-size: 16px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

#possible {
  padding: 0px 10px 10px 10px;
  font-size: 22px;
}

#possible>a:link, #possible>a:visited {
  /*TODO: Make icon and colors persist?*/
  color: #538d4e;
  text-decoration: none;
}

#possible>a:hover {
  text-decoration: underline;
}

.darkmode {
  background-color: #121213;
}

.lightmode {
  background-color: none;
}

.nocontrast {
  color: #538d4e;
}

.highcontrast {
  color: #f5793a;
}